<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dreamer Medical Support - get the most suitable medical support</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/design.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
  <!--Navbar-->
  {{> navbar}}

  <!--page content-->


  <div class="bg">
    <div class="text-center centered">
      <div class="container">
        <h1 class="display-3" style="color:white">DREAMER MEDICAL SUPPORT</h1>
        <p style="color:white"> Medical Facilities Database Website</p>
      </div>
    </div>
  </div>
</body>

</html>